/**
 * @author : wenhao.huang
 * @date   : 2018/3/27
 */

// 字体
// $fontFamily:"Alright Sans LP", "Avenir Next", "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Source Han Sans SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi MicroHei", sans-serif
// $fontFamily: -apple-system-font,Helvetica Neue,Helvetica,sans-serif;

// 颜色名称
$primary:    #448FF2;
$danger:     #FF6058;
$warning:    #F2A654;
$success:    #1BC289;
$info:       #15AEFE;

$default:    #333333;
$normal:     #555555;
$gray:       #888888;
$lightGray:  #AAAAAA;
$light:      #D0D0D0;
$white:      #FFFFFF;

$lineColor:  #E0E0E0;
$bgColor:    #F0F0F0;
